.calendar-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    height: 65vh;
    /*max-height: 580px;*/
    overflow-y: scroll;
   padding-bottom: 10px;
    align-content: start
}

.calendar-day-name {
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 8px 0;
    color: var(--color-primary);
}

.calendar-cell {
    aspect-ratio: 1.78;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background 0.15s;
    border: 1px solid var(--color-secondary);
    max-width: 240px;
}

.day-number-div{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: right;
    width: 70%;
    padding-top: 10px;
    
}


.calendar-cell.sunday{
    background: #FFDDDD;
}

.calendar-cell:hover {
    background: var(--color-primary);
}

.calendar-cell.other-month .day-number {
    color: var(--color-primary);
}



.calendar-cell.selected {
    background: #ffe224;
    color: white;
}

.calendar-cell.selected .day-number {
    color: white;
}

.calendar-cell.in-range {
    background: #EDE7F6;
}

.calendar-cell.range-start,
.calendar-cell.range-end {
    background: #6200EE;
    color: white;
}
.dots{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
    height: 80%;
    width: 90%;
    padding: 5px;
    overflow: hidden;
}

.event-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #FF5722;
}

.calendar-cell.today{
    font-weight: 700;
    background: var(--color-secondary);
    color: var(--color-text-reversed);
    
}